<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-icon name="car-sport-outline" style="font-size: 25px;" slot="start"></ion-icon>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h3 style="text-align: center;">PERFIL</h3>
  <br>
  <div style="text-align: center;">
    <div style="display: flex; justify-content: center;">
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg"/>
      </ion-avatar>
    </div>
    <br>
    <h3 class="titulo">Francisco Tralma</h3>
    <p>RUT: 20.401.528-7</p>
    <p>SEDE: MAIPÚ</p>
    <P>HORARIO: VESPERTINO</P>
    <P>COMUNA: MAIPÚ</P>
  </div>
</ion-content>
