<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<br>
  <ion-title>Viajes Disponibles</ion-title>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Krystel Rodriguez</ion-card-title>
      <ion-card-subtitle color="dark">Duoc UC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Capacidad: 3 personas <br>
      Lugar: Plaza de Maipu a 
    </ion-card-content>
    <ion-button (click)="mostrarAlerta()" >Solicitar viaje</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Daniela Gomez</ion-card-title>
      <ion-card-subtitle color="dark">Duoc UC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Capacidad: 4 personas <br>
      Lugar: Plaza de Maipu a 
    </ion-card-content>
    <ion-button (click)="mostrarAlerta()"  >Solicitar viaje</ion-button>
  </ion-card>
  <br>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alonso Morales</ion-card-title>
      <ion-card-subtitle color="dark">Duoc UC</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Capacidad: 2 personas <br>
      Lugar: Plaza de Maipu a 
    </ion-card-content>
    <ion-button (click)="mostrarAlerta()" >Solicitar viaje</ion-button>
  </ion-card>
  
</ion-content>

