<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TeLlevoAPP
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <h3 class="titulo">Inicio sesión</h3>
  <br>
  <ion-list>
    <ion-list lines="none">
      <ion-item>
        <ion-input label="Usuario" type="email" placeholder="email@domain.com"></ion-input>
        <div></div>
      </ion-item>
  
      <ion-item>
        <ion-input label="Contraseña" type="password" value="password"></ion-input>
      </ion-item>
    </ion-list>
  </ion-list>
  <br>
  <div class="centrado">
    <ion-button shape="round" routerLink="/inicio" >Iniciar Sesión</ion-button>
  </div>

</ion-content>
