.boton-p{
  --padding-start: 55px; /* Ajusta el lado izquierdo */
  --padding-end: 55px;   /* Ajusta el  lado derecho */
  --padding-top: 20px;   /* Ajusta parte superior */
  --padding-bottom: 20px; /* Ajusta parte inferior */
  --border-radius: 20px; /* Ajusta el borde */
  --font-size: 25px;     /* tamaño de la fuente */
  
  padding-left: 100px; 
  
}

.centered-button {
  display: block;
  margin: 0 auto; /* Centra el botón horizontalmente */
}




  
 .titulo {
  text-align: center;
  font-family: cursive;
  
}
.centrado{
  text-align: center;
}