/* mi-componente.page.scss */
.borton-c  {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-radius: 8px;
    font-size: 16px;
  }

.borton-p {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-radius: 8px;
    font-size: 20px;
 }
  
 .titulo {
  text-align: center;
}
.centrado{
  text-align: center;
}