<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Te Llevo APP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <br>
  <h3 class="titulo">Inicio</h3>
  <br>
  <ion-list>
    <ion-item>
      <ion-button size="default" class="boton-p" routerLink="/conductor">Crear Viaje</ion-button>
    </ion-item>
      <br>
    <ion-item>
      <ion-button size="default" class="boton-p" routerLink="/pasajero">Viajes Disponibles</ion-button>
    </ion-item>
  </ion-list>
  
</ion-content>
