

.centered-button {
  display: block;
  margin: 0 auto; /* Centra el botón horizontalmente */
}




  
 .titulo {
  text-align: center;
  font-family: cursive;
  
}
.centrado{
  text-align: center;
}