<ion-header >
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home"><!--(click)="cerrarSesion()"-->
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center" [fullscreen]="true">
  <br>
  <h3 class="titulo">Inicio</h3>
  <br>
  
  <ion-list lines="none">
    <ion-item class="centrado">
      <div >
        <ion-button size="default" class="boton-c" shape="round" routerLink="/conductor">Conductor</ion-button>
      </div>
    </ion-item>
      <br>
    <ion-item class="centrado">
      <ion-button size="default" class="boton-p" shape="round" routerLink="/pasajero">Pasajero</ion-button>
    </ion-item>
  </ion-list>


</ion-content>
